<html>
<HEAD>
<TITLE>Sales - Invoice</TITLE>
</HEAD>
<body BGCOLOR=ffffff>

<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr><td>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="99%" Align=Center VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" Align=Center VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">KEEP CLEAN Ltd </FONT></B></td>
<td WIDTH="-76%" Align=Center VAlign=Middle><IMG SRC=pic1.bmp></FONT>
</td>
<td WIDTH="76%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" Align=Center VAlign=Middle><FONT SIZE=1 FACE="Helvetica">Suprem Square </FONT></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" Align=Center VAlign=Middle><FONT SIZE=1 FACE="Helvetica">Sookdeo Bissoondoyal Street </FONT></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" Align=Center VAlign=Middle><FONT SIZE=1 FACE="Helvetica">Phone No.: (230)210 7025, Fax No.: (230)213 6758,Email: info@keepcleanltd.com </FONT></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" Align=Center VAlign=Middle><FONT SIZE=1 FACE="Helvetica">Business Registration No.: C07018975 </FONT></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" Align=Center VAlign=Middle><FONT SIZE=1 FACE="Helvetica">Vat Registration No.: VAT20169612 </FONT></td>
<td WIDTH="0%" Align=Right VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">REPRINT </FONT></B></td>
</tr>
</table></td>
<td WIDTH="1%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="99%" Align=Center VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%"</td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" Align=Center VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">VAT INVOICE </FONT></B></td>
</tr>
</table><FONT SIZE=1>&nbsp;</FONT></td>
<td WIDTH="1%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="17%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">DEPARTMENT<br></FONT></B></td>
<td WIDTH="19%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">22CLEAN<br></FONT></td>
<td WIDTH="64%"></td>
</tr>
<tr>
<td VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">CUSTOMER REF.<br></FONT></B></td>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">SI014542<br></FONT></td>
<td></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="36%" VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="47%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">OUR REF: </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="52%" VAlign=Middle><FONT SIZE=1>&nbsp; </FONT></td>
</tr>
</table></td>
<td WIDTH="64%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="34%"></td>
<td WIDTH="2%"></td>
<td WIDTH="34%"></td>
<td WIDTH="5%"></td>
<td WIDTH="25%" VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="56%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">INVOICE NO. </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="44%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">SJ014363 </FONT></td>
</tr>
</table></td>
</tr>
<tr>
<td VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="50%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">CUSTOMER </FONT></B></td>
<td WIDTH="50%"></td>
</tr>
</table></td>
<td></td>
<td></td>
<td></td>
<td VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="56%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">DATE </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="44%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">26-03-24 </FONT></td>
</tr>
</table></td>
</tr>
<tr>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">JUPITER CORPORATE SERVICES LIMITED<br></FONT></td>
<td></td>
<td VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">DELIVER TO<br></FONT></B></td>
<td></td>
<td VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="56%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">PAGE NO </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="44%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">1 </FONT></td>
</tr>
</table></td>
</tr>
<tr>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">6TH FLOOR, ST LOUIS BUSINESS CENtrE<br></FONT></td>
<td></td>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">JUPITER CORPORATE SERVICES LIMITED<br></FONT></td>
<td></td>
<td VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="56%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">CURRENCY </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="44%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">MUR </FONT></td>
</tr>
</table></td>
</tr>
<tr>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">CNR DESROCHES & ST LOUIS StrEETS<br></FONT></td>
<td></td>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">6TH FLOOR, ST LOUIS BUSINESS CENtrE<br></FONT></td>
<td></td>
<td VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="56%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">PAYMENT </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="44%" VAlign=Middle><FONT SIZE=1>&nbsp; </FONT></td>
</tr>
</table></td>
</tr>
<tr>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">PORT LOUIS<br></FONT></td>
<td></td>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">CNR DESROCHES & ST LOUIS StrEETS<br></FONT></td>
<td></td>
<td VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="56%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">SALESPERSON </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="44%" VAlign=Middle><FONT SIZE=1>&nbsp; </FONT></td>
</tr>
</table></td>
</tr>
<tr>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">TEL NO.: 214 6313<br></FONT></td>
<td></td>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">PORT LOUIS<br></FONT></td>
<td></td>
<td VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="56%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">ISSUED BY </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="44%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">Nandani Fokeerah </FONT></td>
</tr>
</table></td>
</tr>
<tr>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">BUSINESS REG NO.: C20173918<br></FONT></td>
<td></td>
<td VAlign=Middle><FONT SIZE=1>&nbsp;<br></FONT></td>
<td></td>
<td></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="34%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">VAT REG NO.: 27822157<br></FONT></td>
<td WIDTH="66%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="34%" VAlign=Middle><FONT SIZE=1><FONT SIZE=1>&nbsp;<br></FONT>&nbsp;</FONT></td>
<td WIDTH="66%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="19%" VAlign=Middle><FONT SIZE=1><B><FONT SIZE=1 FACE="Helvetica">CONTACT<br></FONT></B>&nbsp;</FONT></td>
<td WIDTH="34%" VAlign=Middle><FONT SIZE=1><FONT SIZE=1 FACE="Helvetica">ANAIS HENRI<br></FONT>&nbsp;</FONT></td>
<td WIDTH="47%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="13%" VAlign=Bottom><B><FONT SIZE=1 FACE="Helvetica">CODE<br></FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="45%" VAlign=Bottom><B><FONT SIZE=1 FACE="Helvetica">DESCRIPTION<br></FONT></B></td>
<td WIDTH="1%"></td>
<td WIDTH="7%" Align=Right VAlign=Bottom><B><FONT SIZE=1 FACE="Helvetica">QTY<br></FONT></B></td>
<td WIDTH="1%"></td>
<td WIDTH="7%" VAlign=Bottom><B><FONT SIZE=1 FACE="Helvetica">UOM<br></FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="24%" Align=Right VAlign=Bottom>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="51%" Align=Right VAlign=Bottom><B><FONT SIZE=1 FACE="Helvetica">UNIT PRICE </FONT></B></td>
<td WIDTH="0%"></td>
<td WIDTH="50%" Align=Right VAlign=Bottom><B><FONT SIZE=1 FACE="Helvetica">AMOUNT (EXCL VAT) </FONT></B></td>
</tr>
</table></td>
<td WIDTH="2%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="99%" Align=Center VAlign=Middle><HR Size=0 NoShade></td>
<td WIDTH="1%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="12%" VAlign=Middle><FONT SIZE=1>&nbsp;<br></FONT></td>
<td WIDTH="1%"></td>
<td WIDTH="45%" VAlign=Middle>
<table WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">CLAIM FOR PROVISION OF CLEANING SERVICES </FONT></td>
<td WIDTH="0%"></td>
</tr>
</table></td>
<td WIDTH="1%"></td>
<td WIDTH="7%" Align=Right VAlign=Middle><FONT SIZE=1 FACE="Helvetica">1<br></FONT></td>
<td WIDTH="1%"></td>
<td WIDTH="7%" VAlign=Middle><FONT SIZE=1>&nbsp;<br></FONT></td>
<td WIDTH="0%"></td>
<td WIDTH="12%" Align=Right VAlign=Middle><FONT SIZE=1 FACE="Helvetica">9,500.00<br></FONT></td>
<td WIDTH="0%"></td>
<td WIDTH="12%" Align=Right VAlign=Middle><FONT SIZE=1 FACE="Helvetica">9,500.00<br></FONT></td>
<td WIDTH="2%"></td>
</tr>
<tr>
<td></td>
<td></td>
<td VAlign=Middle><FONT SIZE=1 FACE="Helvetica">AT JUPITER CORPORATE SERVICES LIMITED<br></FONT></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="13%"></td>
<td WIDTH="45%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">THE PERIOD 13TH MARCH 2024 TO 12TH<br></FONT></td>
<td WIDTH="42%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="13%"></td>
<td WIDTH="45%" VAlign=Middle><FONT SIZE=1 FACE="Helvetica">APRIL 2024<br></FONT></td>
<td WIDTH="42%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="99%" Align=Center VAlign=Middle><HR Size=0 NoShade></td>
<td WIDTH="1%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="60%"></td>
<td WIDTH="23%" Align=Right VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">SUBTOTAL<br></FONT></B></td>
<td WIDTH="1%"></td>
<td WIDTH="14%" Align=Right VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">9,500.00<br></FONT></B></td>
<td WIDTH="2%"></td>
</tr>
<tr>
<td></td>
<td Align=Right VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">15% VAT<br></FONT></B></td>
<td></td>
<td Align=Right VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">1,425.00<br></FONT></B></td>
<td></td>
</tr>
<tr>
<td></td>
<td Align=Right VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">TOTAL<br></FONT></B></td>
<td></td>
<td Align=Right VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">10,925.00<br></FONT></B></td>
<td></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="10%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">Signature :<br></FONT></B></td>
<td WIDTH="90%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="10%"></td>
<td WIDTH="38%" Align=Center VAlign=Middle><HR Size=0 NoShade></td>
<td WIDTH="52%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">Payment should be made a least 30 Days from Date of Invoice. Overdue accounts will be subject to interest at the rate of 1% per month from <br></FONT></B></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="100%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">the date the amount is due up till final payment. In the event of recovery of amount due through an Attorney-at-law, the Attorney s commission of<br></FONT></B></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="98%" VAlign=Middle><B><FONT SIZE=1 FACE="Helvetica">10% plus VAT thereon shall be borne by the client together with all other related legal costs, including but not limited to fees of legal advisers<br></FONT></B></td>
<td WIDTH="2%"></td>
</tr>
</table>
<table WIDTH="100%" BORDER=0 CELLPADDING=0>
<tr>
<td WIDTH="99%" Align=Right VAlign=Middle><FONT SIZE=1 FACE="Helvetica">Website: www.keepcleanltd.com<br></FONT></td>
<td WIDTH="1%"></td>
</tr>
</table>
<br><HR>
</td></tr>
</table>
</body>
</html>   